
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.password-forgot-card
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 300px;

}
.form-forgot-password
{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-forgot-password *
{
  width: 90%;
}
