<mat-card class="password-forgot-card">
<h2>Forgot Password</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-forgot-password">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        email/>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || loading">
      {{loading ? 'Sending' : 'Send reset link'}}
    </button>

  </form>
</mat-card>

