<h2>{{ isEditMode ? 'Uredi proizvod' : 'Dodaj proizvod' }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <div>
    <label>Naziv:</label>
    <input formControlName="name" />
  </div>

  <div>
    <label>Cijena:</label>
    <input type="number" formControlName="price" />
  </div>

  <div>
    <label>Spol:</label>
    <select formControlName="gender">
      <option [value]="0">Muški</option>
      <option [value]="1">Ženski</option>
    </select>
  </div>

  <div>
    <label>Boja ID:</label>
    <input type="number" formControlName="colorId" />
  </div>

  <div>
    <label>Brend ID:</label>
    <input type="number" formControlName="brandId" />
  </div>

  <button type="submit" [disabled]="form.invalid">Spremi</button>
</form>
