
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.password-reset-form
{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.reset-card
{
  min-width: 300px;
  width: 30%;
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .submit-button-reset-password
  {
    margin-top: 0.5rem;
  }
  mat-form-field
  {
    margin-bottom: 1.4rem;
  }
